<div class="container">
    <div class="left-side-container">
    </div>
    <div class="right-side-container">
        <form [formGroup]="fg" (ngSubmit)="login()" class="login-container">
            <div class="login-header-container">
                <h1>EATHERE</h1>
            </div>
            <div class="login-data-container">
                <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
                <div class="email-container">
                    <p class="email-paragraph">Email</p>
                    <input formControlName="email" class="email-input">
                </div>

                <div class="password-container">
                    <p class="password-paragraph">Password</p>
                    <input formControlName="password" class="password-input" type="password">
                </div>
            </div>
            <div class="login-button-container">
                <button class="login-button">Login</button>
            </div>

            <div class="register-link-container">
                <p>Doesn't have account?<a href="/register"> Register here</a></p>
            </div>
        </form>
    </div>
</div>