<div class="container">
    <div class="left-side-container">
    </div>
    <div class="right-side-container">
        <div class="login-container">
            <div class="login-header-container">
                <h1>EATHERE</h1>
            </div>
            <div class="login-data-container">
                <div class="email-container">
                    <p class="email-paragraph">Email</p>
                    <input class="email-input">
                </div>

                <div class="password-container">
                    <p class="password-paragraph">Password</p>
                    <input class="password-input">
                </div>
            </div>
            <div class="login-button-container">
                <button class="login-button">Login</button>
            </div>
            <div class="register-link-container">
                <p>Doesn't have account?<a> Register here</a></p>
            </div>
        </div>
    </div>
</div>