<div class="page-container" *ngIf="user">
    <div class="main-content">
        <div class="money-div">
            <div class="list">
                <h2>How about your money in this month?</h2>
                <h3 [style.color]="getIncomeFromOrders() > 0 ? 'green' : 'black'">Income from orders:
                    {{getIncomeFromOrders()}}PLN</h3>
                <h3 *ngIf="user.isRestaurantOwner" [style.color]="getSalarySum() > 0 ? 'red' : 'black'">Salaries:
                    {{getSalarySum()}}PLN</h3>

                <h3 *ngIf="user.isRestaurantOwner"
                    [style.color]="(getIncomeFromOrders() - getSalarySum()) > 0 ? 'green' : 'red'">
                    Balance: {{getIncomeFromOrders() - getSalarySum()}}PLN
                </h3>

                <h3 *ngIf="user.isRestaurantOwner">Biggest salary:{{getBiggestSalaryOwner()?.name}}
                    {{getBiggestSalaryOwner()?.surname}}
                    {{getBiggestSalaryOwner()?.salary}}PLN</h3>
            </div>
        </div>
        <div class="configuration-div">
            <div class="dish-type-div">
                <div class="dish-types-list-div">
                    <p>DISH TYPES AVAILABLE</p>
                    <select>
                        <option *ngFor="let dishType of dishTypes" [value]="dishType.id">{{ dishType.name }}
                        </option>
                    </select>
                    <button>DELETE</button>
                </div>
                <div class="dish-types-add-div">
                    <p>ADD NEW DISH TYPE</p>
                    <input #dishType>
                    <button (click)="addDishType(dishType.value.toString())">ADD</button>
                </div>
            </div>
            <div class="portion-types-div">
                <div class="portion-types-list-div">
                    <p>PORTION TYPE</p>
                    <select>
                        <option *ngFor="let portionType of portionTypes" [value]="portionType.id">{{
                            portionType.name }}
                        </option>
                    </select>
                    <button>DELETE</button>
                </div>
                <div class="portion-types-add-div">
                    <p>ADD NEW PORTION TYPE</p>
                    <input #portionType>
                    <button (click)="addPortionType(portionType.value.toString())">ADD</button>
                </div>
            </div>
        </div>
        <div class=" third-div">
            <div class="list">
                <h2>TRENDS OF THE MONTH</h2>
                <h3>MOST OFTEN ORDERED:{{findMostAndLeastOrderedDishes(thisMonthOrders,dishes).mostOrdered?.name}}
                </h3>
                <h3>LEAST OFTEN ORDERED:{{findMostAndLeastOrderedDishes(thisMonthOrders,dishes).leastOrdered?.name}}
                </h3>
                <h3>BIGGEST ORDER:{{findMostExpensiveOrder(thisMonthOrders,dishes).totalPrice}}PLN</h3>
                <h3>ORDERS THIS MONTH: {{thisMonthOrders.length}}</h3>
            </div>
        </div>
    </div>
</div>