.page-container {
    width: 100%;
    height: 100%;
    border: solid 1px green;
    display: flex;
    align-items: center;
    flex-direction: column;

    .main-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .money-div,
        .configuration-div,
        .third-div,
        .fourth-div {
            border: solid 1px;
            width: 50%;
            height: 50%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;

            .dish-type-div {
                width: 100%;
                height: 50%;
                border: solid 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                .dish-types-list-div {
                    width: 100%;
                    height: 50%;
                }

                .dish-types-add-div {
                    width: 100%;
                    height: 50%;
                    border: solid 1px;
                }
            }

            .portion-types-div {
                width: 100%;
                height: 50%;
                border: solid 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                .portion-types-list-div {
                    width: 100%;
                    height: 50%;
                }

                .portion-types-add-div {
                    width: 100%;
                    height: 50%;
                    border: solid 1px;
                }
            }
        }

        .money-div,
        .third-div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
    }

}