<div class="modal-wrapper" *ngIf="restaurantId">
    <form [formGroup]="fg" class="form" (ngSubmit)="addOrder()">
        <button type="button" (click)="closeOrderModal()">X</button>
        <div class="form-row">
            <p>Dish:</p>
            <select formControlName="dishIds">
                <option *ngFor="let dish of dishes" [ngValue]="dish.id">{{ dish.name }}</option>
            </select>
        </div>
        <div class="form-row">
            <p>Table:</p>
            <select formControlName="table">
                <option *ngFor="let table of tables" [value]="table.id">{{ table.name }}
                </option>
            </select>
        </div>
        <div>
            <p>Description:</p>
            <input formControlName="description">
        </div>
        <button type="submit">ADD ORDER</button>
    </form>
</div>