<div class="form-wrapper">
    <div class="description-row">
        <div class="table-col">
            <p>NAZWA</p>
        </div>
        <div class="table-col">
            <p>POJEMNOŚĆ</p>
        </div>
        <div class="table-col">
            <p>STATUS</p>
        </div>
        <div class="table-col">
        </div>
        <div class="table-col">
        </div>
    </div>
    <div class="tables-container">
        <div *ngFor="let table of tables" class="table-row">
            <div class="table-col">
                <p>{{table.name}}</p>
            </div>
            <div class="table-col">
                <p>{{table.capacity}}</p>
            </div>
            <div class="table-col">
                <p [style.color]="table.isTaken ? 'red' : 'green'">{{table.isTaken ? 'ZAJĘTY' : 'WOLNY'}}</p>
            </div>
            <div class="table-col">
                <button (click)="toggleStatus(table)">{{table.isTaken ? 'ZWOLNIJ' : 'REZERWUJ'}}</button>
            </div>
            <div class="table-col">
                <button (click)="deleteTable(table.id)">USUŃ</button>
            </div>
        </div>
    </div>
    <form [formGroup]="fg" class="buttons-container" (ngSubmit)="addTable()">
        <input placeholder="NAZWA" formControlName="name">
        <input placeholder="POJEMNOŚĆ" formControlName="capacity">
        <button type="submit">DODAJ</button>
    </form>
</div>