.form-wrapper {
    width: 70%;
    height: 80%;
    margin: auto;
    margin-top: 5%;

    .description-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 15%;
        background-color: #36A9AE;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    .tables-container {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: white;

        .table-row {
            border-bottom: solid 1px;
            border-radius: 12px;
            height: 20%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
        }
    }

    .table-col {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            height: 50%;
            width: 70%;
            color: black;
            background-color: white;
            font-size: 16px;
            border: none;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #36A9AE;
            color: whitesmoke;
        }

    }

    .buttons-container {
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            height: 50%;
            width: 20%;
            color: black;
            background-color: white;
            font-size: 16px;
            border: none;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #36A9AE;
            color: whitesmoke;
        }

        input {
            height: 50%;
            width: 30%;
            background-color: aliceblue;
            border: none;

        }

        input::placeholder {
            color: black;
        }
    }


}