<div class="container">
    <div class="left-side-container">
    </div>

    <div class="right-side-container">
        <form [formGroup]="fg" (ngSubmit)="register()" class="register-container">
            <div class="register-header-container">
                <h1>REGISTER</h1>
            </div>
            <div class="register-data-container">
                <div class="">
                    <p class="h">Name</p>
                    <input formControlName="name" class="email-input">
                </div>
                <div class="">
                    <p class="">Surname</p>
                    <input formControlName="surname" class="email-input">
                </div>
                <div class="">
                    <p class="">Email</p>
                    <input formControlName="email" class="email-input">
                </div>

                <div class="">
                    <p class="">Password</p>
                    <input formControlName="password" class="password-input">
                </div>

                <div class="">
                    <p class="">Repeat Password</p>
                    <input class="password-input">
                </div>
                <div class="">
                    <p class="">Are you restaurant owner?</p>
                    <input formControlName="isRestaurantOwner" type="checkbox">
                </div>
            </div>
            <div class="register-button-container">
                <button type="submit" class="register-button">Register</button>
            </div>
        </form>
    </div>
</div>