.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .left-side-container {
        height: 100%;
        width: 65%;
        background-image: url('../../../../../assets/images/register-image.jpg');
        background-size: cover;
    }

    .right-side-container {
        height: 100%;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #36A9AE;
        background-image: linear-gradient(#37ADB2, #329CA0);

        .register-container {
            height: 90%;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border-radius: 12px;

            .register-header-container {
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .register-data-container {
                height: 80%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .register-button-container {
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;

                .register-button {
                    background-color: #36A9AE;
                    background-image: linear-gradient(#37ADB2, #329CA0);
                    border: 1px solid #2A8387;
                    border-radius: 4px;
                    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
                    color: #FFFFFF;
                    cursor: pointer;
                    display: block;
                    font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 17px;
                    line-height: 100%;
                    margin: 0;
                    outline: 0;
                    padding: 11px 15px 12px;
                    text-align: center;
                    transition: box-shadow .05s ease-in-out, opacity .05s ease-in-out;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    width: 30%;

                }

            }
        }
    }
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.8);
}