<div class="container">
    <div class="left-side-container">
    </div>
    <div class="right-side-container">
        <div class="register-container">
            <div class="register-header-container">
                <h1>REGISTER</h1>
            </div>
            <div class="register-data-container">
                <div class="">
                    <p class="h">Name</p>
                    <input class="email-input">
                </div>
                <div class="">
                    <p class="">Surname</p>
                    <input class="email-input">
                </div>
                <div class="">
                    <p class="">Email</p>
                    <input class="email-input">
                </div>

                <div class="">
                    <p class="">Password</p>
                    <input class="password-input">
                </div>

                <div class="">
                    <p class="">Repeat Password</p>
                    <input class="password-input">
                </div>
                <div class="">
                    <p class="">Are you resaurant owner?</p>
                    <input type="checkbox" class="password-input">
                </div>
                <div class="">
                    <p class="">Restaurant name</p>
                    <input class="password-input">
                </div>
            </div>
            <div class="register-button-container">
                <button class="register-button">Register</button>
            </div>
        </div>
    </div>
</div>