<div *ngIf="isLoggedIn " class="side-bar">
    <button [routerLink]="'/home'">HOME</button>
    <button [routerLink]="'/my-profile'">MY PROFILE</button>
    <button [routerLink]="'/my-restaurant'">MY RESTAURANT</button>
    <button [routerLink]="'/dishes-list'">DISHES LIST</button>
    <button [routerLink]="'/all-orders'">ALL ORDERS</button>
    <button [routerLink]="'/statistics'">STATS AND CONFIGURATION</button>
    <button [routerLink]="'/workers'">WORKERS</button>
    <button (click)="logout()">LOGOUT</button>
</div>