<div *ngIf="isLoggedIn" class="side-bar">
    <button [routerLink]="'/home'"><i class="fas fa-home fa-lg"></i>STRONA GŁÓWNA</button>
    <button [routerLink]="'/my-profile'"><i class="fas fa-user fa-lg"></i> MÓJ PROFIL</button>
    <button [routerLink]="'/my-restaurant'"><i class="fas fa-utensils fa-lg"></i> MOJA RESTAURACJA</button>
    <button [routerLink]="'/dishes-list'"><i class="fas fa-list fa-lg"></i>LISTA DAŃ</button>
    <button [routerLink]="'/all-orders'"><i class="fas fa-shopping-cart fa-lg"></i>WSZYSTKIE ZAMÓWIENA</button>
    <button [routerLink]="'/statistics'"><i class="fas fa-chart-bar fa-lg"></i> STATYSTYKI I KONFIGURACJA</button>
    <button [routerLink]="'/workers'"><i class="fas fa-users fa-lg"></i> PRACOWNICY</button>
    <button (click)="logout()"><i class="fas fa-sign-out-alt fa-lg"></i> WYLOGUJ</button>
</div>