.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;

    .button-container {
        border: solid 1px;
        width: 80%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .table-container {
        height: 70%;
        width: 80%;
        border: solid 1px;

        .description-row {
            border: solid 1px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;
            width: 95%;
            flex-direction: row;

            .order-column {
                width: 20%;
                border: solid 1px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        .order-row {
            border: solid 1px;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;
            width: 95%;
            flex-direction: row;

            .order-column {
                width: 20%;
                border: solid 1px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }
}