<div class="form-wrapper">
    <div class="description-row">
        <div class="order-col">
            <p>Order</p>
        </div>
        <div class="order-col">
            <p>Table</p>
        </div>

        <div class="order-col">
            <p>Made at</p>
        </div>
        <div class="order-col">
        </div>
    </div>
    <div class="orders-container">
        <div *ngFor="let order of orders" class="order-row">
            <div class=" order-col">
                <ng-container *ngFor="let dishId of order.dishIds; let last = last">
                    <p>{{ selectNameById(dishes, dishId) }}{{ !last ? ',' : '' }} </p>
                </ng-container>
            </div>
            <div class="order-col">
                <!-- <p> {{selectNameById(tables,order.tableId)}}</p> -->
                <p>{{order.table?.name}}</p>
            </div>
            <div class="order-col">
                <p>{{ order.orderDate | date:'HH:mm' }}</p>
            </div>
            <div class="order-col">
                <button (click)="makeOrderDone(order)">DONE</button>
            </div>
        </div>
    </div>
</div>