<div class="page-container">
    <div class="header">
        <div class="date-div">
            01.12.2023
        </div>
        <div class="hour-div">
            16:20
        </div>
        <div class="logged-user-div">
            Kacper Krok
        </div>
    </div>
    <div class="main-content">
        <div class="tables-div">
            <app-tables-form></app-tables-form>
        </div>
        <div class="active-orders-div">
        </div>
        <div class="third-div">

        </div>
        <div class="fourth-div">

        </div>
    </div>
</div>