<div class="page-container">
    <div class="header">
        <div class="header-div">
            <p>
                01.12.2023
            </p>
        </div>
        <div class="header-div">
            <p>
                13:33
            </p>
        </div>
        <div class="header-div">
            <p>
                Kacper Krok
            </p>
        </div>
    </div>
    <div class="main-content">
        <div class="tables-div">
            <app-tables-form></app-tables-form>
        </div>
        <div class="active-orders-div">
            <app-active-orders [orders]="activeOrders" [tables]="tables" [dishes]="dishes"
                (orderDone)="makeOrderDone($event)"></app-active-orders>
        </div>
        <div class=" third-div">
            <div class="wrapper">
                <h2>Free tables:{{freeTablesCount}}</h2>
                <h2>Free seats:{{freeSeatsCount}}</h2>
                <h2>Active orders:{{activeOrders.length}}</h2>
            </div>
        </div>
        <div class="fourth-div">
            <div class="wrapper">
                <h2>Orders today:{{todaysOrders.length}}</h2>
                <h2>Todays income:{{calculateTodaysIncome()}}PLN</h2>
            </div>
        </div>
    </div>
</div>