.page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-content {
        width: 40%;
        height: 80%;
        -webkit-box-shadow: -3px 14px 21px -6px rgba(59, 74, 33, 1);
        -moz-box-shadow: -3px 14px 21px -6px rgba(59, 74, 33, 1);
        box-shadow: -3px 14px 21px -6px rgba(59, 74, 33, 1);

        .header {
            width: 100%;
            height: 15%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border-bottom: solid 1px;
        }

        .my-profile-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 80%;

            .my-profile-element {
                display: flex;
                width: 80%;
                height: 10%;
                justify-content: flex-start;
                align-items: center;
                border-radius: 12px;
                border-bottom: solid 1px;
                padding: 2%;
            }

            .bold {
                font-weight: bold;
            }

            .save-btn-div {
                width: 80%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    width: 30%;
                    height: 50%;
                    border-radius: 12px;
                    background-color: aquamarine;
                }
            }

        }

    }

}