<div *ngIf="user != null" class="page-wrapper">
    <h2>YOUR PROFILE</h2>
    <form [formGroup]="fg" (ngSubmit)="updateUser()" class="profile-container">

        <div *ngIf="user.name && !isEdit['name'] else enterName" class="my-profile-element">
            <span class="bold">NAME: {{ user.name }}</span>
            <button (click)="toggleIsToEdit('name')">EDIT</button>
        </div>
        <ng-template #enterName>
            <div class="my-profile-element-edit">
                <p>Enter name</p>
                <input formControlName="name">
            </div>
        </ng-template>

        <div *ngIf="user.surname && !isEdit['surname'] else entersurname" class="my-profile-element">
            <span class="bold">SURNAME: {{ user.surname }}</span>
            <button (click)="toggleIsToEdit('surname')">EDIT</button>
        </div>
        <ng-template #entersurname>
            <div class="my-profile-element-edit">
                <p>Enter surname</p>
                <input formControlName="surname">
            </div>
        </ng-template>

        <div *ngIf="user.email && !isEdit['email'] else enterEmail" class="my-profile-element">
            <span class="bold">EMAIL: {{ user.email }}</span>
            <button (click)="toggleIsToEdit('email')">EDIT</button>
        </div>
        <ng-template #enterEmail>
            <div class="my-profile-element-edit">
                <p>Enter email</p>
                <input formControlName="email">
            </div>
        </ng-template>

        <div *ngIf="user.isRestaurantOwner !== null" class="my-profile-element">
            <span class="bold">ROLE IN RESTAURANT: {{ user.isRestaurantOwner ? 'Restaurant owner' : 'Worker' }}</span>
        </div>



        <div *ngIf="user.birthdayDate && !isEdit['birthdayDate'] else enterBirthdayDate" class="my-profile-element">
            <span class="bold">Birthday Date: {{ user.birthdayDate }}</span>
            <button (click)="toggleIsToEdit('birthdayDate')">EDIT</button>
        </div>
        <ng-template #enterBirthdayDate>
            <div class="my-profile-element-edit">
                <p>Enter birthdayDate</p>
                <input type="date" formControlName="birthdayDate">
            </div>
        </ng-template>

        <div *ngIf="user.contactNumber !== null && !isEdit['contactNumber'] else enterContactNumber"
            class="my-profile-element">
            <span class="bold">Contact number: {{ user.contactNumber }}</span>
            <button (click)="toggleIsToEdit('contactNumber')">EDIT</button>
        </div>
        <ng-template #enterContactNumber>
            <div class="my-profile-element-edit">
                <p>Enter your contact number</p>
                <input formControlName="contactNumber">
            </div>
        </ng-template>

        <div class="save-button-div">
            <button class="save-button" type="submit">SAVE</button>
        </div>
    </form>
</div>