<div *ngIf="user != null" class="page-wrapper">
    <form [formGroup]="fg" (ngSubmit)="saveUser()" class="login-container">

        <div *ngIf="user.name && !isEdit['name'] else enterName" class="my-profile-element">
            <span class="bold">NAME:</span>{{ user.name }}
            <button (click)="toggleIsToEdit('name')">EDIT</button>
        </div>
        <ng-template #enterName>
            <div>
                <p>Enter name</p>
                <input formControlName="name">
            </div>
        </ng-template>

        <div *ngIf="user.surname && !isEdit['surname'] else entersurname" class="my-profile-element">
            <span class="bold">SURNAME:</span>{{ user.surname }}
            <button (click)="toggleIsToEdit('surname')">EDIT</button>
        </div>
        <ng-template #entersurname>
            <div>
                <p>Enter surname</p>
                <input formControlName="surname">
            </div>
        </ng-template>

        <div *ngIf="user.email && !isEdit['email'] else enterEmail" class="my-profile-element">
            <span class="bold">EMAIL:</span>{{ user.email }}
            <button (click)="toggleIsToEdit('email')">EDIT</button>
        </div>
        <ng-template #enterEmail>
            <div>
                <p>Enter email</p>
                <input formControlName="email">
            </div>
        </ng-template>

        <div *ngIf="user.isRestaurantOwner !== null && !isEdit['roleInRestaurant'] else enterRoleInRestaurant"
            class="my-profile-element">
            <span class="bold">ROLE IN RESTAURANT:</span>{{ user.isRestaurantOwner }}
            <button (click)="toggleIsToEdit('roleInRestaurant')">EDIT</button>
        </div>
        <ng-template #enterRoleInRestaurant>
            <div>
                <p>Is restaurant owner</p>
                <input type="checkbox" formControlName="isRestaurantOwner">
            </div>
        </ng-template>

        <div *ngIf="user.birthdayDate && !isEdit['birthdayDate'] else enterBirthdayDate" class="my-profile-element">
            <span class="bold">Birthday Date:</span>{{ user.birthdayDate }}
            <button (click)="toggleIsToEdit('birthdayDate')">EDIT</button>
        </div>
        <ng-template #enterBirthdayDate>
            <div>
                <p>Enter birthdayDate</p>
                <input type="date" formControlName="birthdayDate">
            </div>
        </ng-template>

        <div *ngIf="user.contactNumber !== null && !isEdit['contactNumber'] else enterContactNumber"
            class="my-profile-element">
            <span class="bold">Contact number:</span>{{ user.contactNumber }}
            <button (click)="toggleIsToEdit('contactNumber')">EDIT</button>
        </div>
        <ng-template #enterContactNumber>
            <div>
                <p>Enter your contact number</p>
                <input formControlName="contactNumber">
            </div>
        </ng-template>

        <div class="save-button-div">
            <button class="save-button" type="submit">SAVE</button>
        </div>
    </form>
</div>