.app-wrapper {
    display: flex;
    flex-direction: row;

    .side-bar {
        width: 20vw;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #36A9AE;


        button {
            width: 70%;
            height: 5%;
            font-size: 12px;
            font-weight: bold;
            background-color: whitesmoke;
            border: none;
            color: black;
            font-size: 16px;
            border-radius: 12px;
            font-family: 'Courier New', Courier, monospace;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #D09754;
            color: whitesmoke;
        }

    }

    .content {
        width: 100vw;
        height: 100vh;
        background-color: #F3d7b8;
    }
}