<div class="page-container">
    <div class="form-container">
        <div class="first-row">
            <div class="first-column">
                <input placeholder="Name">
                <input placeholder="Price">
            </div>
            <div class="second-column">
                <input placeholder="Ingredients">
            </div>
            <div class="third-column">
                <input placeholder="Description">
            </div>
            <div class="fourth-column">
                <input placeholder="Calories">
                <input placeholder="Proteins">
                <input placeholder="Fats">
                <input placeholder="Carbs">
            </div>
        </div>
        <div class="second-row">
            <div class="add-dish-btn-div">
                <button>Add Dish </button>
            </div>
        </div>
    </div>
    <div class="table-container">

    </div>
</div>