p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-container {
        width: 80%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        border-radius: 12px;
        padding-top: 1%;
        padding-bottom: 1%;

        .first-row {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .first-column {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                width: 20%;
                height: 90%;

                input {
                    height: 25%;
                    background-color: aliceblue;
                    border: none;
                }

                input::placeholder {
                    color: black;
                }
            }

            .second-column {
                height: 90%;
                width: 20%;

                input {
                    height: 100%;
                    width: 100%;
                    background-color: aliceblue;
                    border: none;
                }

                input::placeholder {
                    color: black;
                }
            }

            .third-column {
                height: 90%;
                width: 20%;

                input {
                    height: 100%;
                    width: 100%;
                    background-color: aliceblue;
                    border: none;
                }

                input::placeholder {
                    color: black;
                }
            }

            .fourth-column {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                width: 20%;
                height: 90%;

                input {
                    height: 15%;
                    background-color: aliceblue;
                    border: none;
                }

                input::placeholder {
                    color: black;
                }
            }
        }

        .second-row {
            width: 100%;
            height: 20%;

            .add-dish-btn-div {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;


                button {
                    height: 100%;
                    width: 30%;
                    color: black;
                    background-color: white;
                    font-size: 16px;
                    border: none;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: bold;
                    transition: background-color 0.3s ease;
                    border: solid 1px;
                    border-radius: 12px;
                }

                button:hover {
                    background-color: #36A9AE;
                    color: whitesmoke;
                    border: none;
                }
            }

        }
    }

    .table-container {
        width: 80%;
        border-radius: 12px;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        margin-top: 10px;

        .description-row {

            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;
            width: 95%;
            flex-direction: row;
            border-bottom: solid 1px;

            .dish-column {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        .dish-row {
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10%;
            width: 95%;
            flex-direction: row;
            border-bottom: solid 1px;

            .dish-column {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    height: 40px;
                    width: 90px;
                    color: black;
                    background-color: white;
                    font-size: 16px;
                    border: none;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: bold;
                    transition: background-color 0.3s ease;
                    border: solid 1px;
                    border-radius: 12px;
                }

                button:hover {
                    background-color: #36A9AE;
                    color: whitesmoke;
                    border: none;
                }
            }

        }
    }
}