<div class="page-container">
    <form [formGroup]="fg" *ngIf="restaurant!==null" class="form-container" (ngSubmit)="addDish()">
        <div class="first-row">
            <div class="first-column">
                <input placeholder="NAZWA" formControlName="name">
                <input placeholder="CENA" formControlName="price">
            </div>
            <div class="second-column">
                <input placeholder="SKŁADNIKI" formControlName="ingredients">
            </div>
            <div class="third-column">
                <input placeholder="OPIS" formControlName="description">
            </div>
            <div class="fourth-column">
                <input placeholder="KALORIE" formControlName="calories">
                <input placeholder="BIAŁKA" formControlName="proteins">
                <input placeholder="TŁUSZCZE" formControlName="fats">
                <input placeholder="WĘGLOWODANY" formControlName="carbohydrates">
            </div>
        </div>
        <div class="second-row">
            <div class="add-dish-btn-div">
                <div>
                    <p>TYP DANIA</p>
                    <select formControlName="dishType">
                        <option *ngFor="let dishType of dishTypes" [value]="dishType.id">{{ dishType.name }}
                        </option>
                    </select>
                </div>
                <div>
                    <p>TYP PORCJI</p>
                    <select formControlName="portionType">
                        <option *ngFor="let portionType of portionTypes" [value]="portionType.id">{{
                            portionType.name }}
                        </option>
                    </select>
                </div>

                <button type="submit">DODAJ DANIE</button>
            </div>
        </div>
    </form>
    <div class="table-container">
        <div class="description-row">
            <div class="dish-column">
                <p>DANIE</p>
            </div>
            <div class="dish-column">
                <p>CENA</p>
            </div>
            <div class="dish-column">
                <p>SKŁADNIKI</p>
            </div>
            <div class="dish-column">
                <p>OPIS</p>
            </div>
            <div class="dish-column">
                <p>KALORIE</p>
            </div>
            <div class="dish-column">
                <p></p>
            </div>
        </div>
        <div *ngFor="let dish of dishes" class="dish-row">
            <div class="dish-column" (click)="openModal(dish.id)">
                <p>{{ dish.name }}</p>
            </div>
            <div class="dish-column">
                <p>{{ dish.price }} PLN</p>
            </div>
            <div class="dish-column">
                <p>{{ dish.ingredients }}</p>
            </div>
            <div class="dish-column">
                <p>{{ dish.description }}</p>
            </div>
            <div class="dish-column">
                <p>{{ dish.calories }}</p>
            </div>
            <div class="dish-column">
                <button (click)="deleteDish(dish.id)">DELETE</button>
            </div>
            <ng-container *ngIf="isDishModalVisible==true && dish.id==selectedDishId">
                <app-dish-modal [dish]="dish" [restaurantId]="restaurant.id"></app-dish-modal>
            </ng-container>
        </div>
    </div>
</div>