.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-container {
        width: 80%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .first-row {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .first-column {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                width: 20%;
                height: 90%;

                input {
                    height: 15%;
                }
            }

            .second-column {
                height: 90%;
                width: 20%;

                input {
                    height: 100%;
                    width: 100%;
                }
            }

            .third-column {
                height: 90%;
                width: 20%;

                input {
                    height: 100%;
                    width: 100%;
                }
            }

            .fourth-column {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                width: 20%;
                height: 90%;

                input {
                    height: 15%;
                }
            }
        }

        .second-row {
            width: 100%;
            height: 20%;
            border: solid 1px;

            .add-dish-btn-div {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    width: 30%;
                    height: 80%;
                }
            }

        }


    }

    .table-container {
        width: 80%;
        border: solid 1px;
        border-radius: 12px;
        height: 70%;
    }
}